.heading-2 {
  position: relative;
  line-height: 48px;
}
.cs-support,
.were-here-to {
  position: relative;
  line-height: 24px;
}
.were-here-to {
  white-space: nowrap;
}
.cs-support {
  display: inline-block;
  min-width: 93px;
}
.askifreegroupcom1,
.link-247 {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.askifreegroupcom1 {
  align-self: stretch;
}
.link-247 {
  color: #1b68ff;
  display: inline-block;
  min-width: 103.4px;
}
.live-chat,
.support-contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.live-chat {
  flex: 1;
  flex-direction: column;
  gap: 16.5px;
  color: #001e32;
}
.support-contact {
  align-self: stretch;
  flex-direction: row;
  gap: 19px;
}
.center-88-dingxin,
.guangzhou-china,
.th-floor-north {
  display: block;
}
.th-floor-north-container {
  margin: 0;
  position: relative;
  font-size: 15.9px;
  line-height: 24px;
}
.support-info,
.were-here-to-help-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.were-here-to-help-parent {
  align-self: stretch;
  gap: 16px;
}
.support-info {
  width: 260.1px;
  padding: 32px 0 0;
  box-sizing: border-box;
  min-width: 260.10000000000036px;
  flex-shrink: 0;
}
.about2-5pbnwojmpng-icon {
  width: 600px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.background2,
.customer-support-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background2 {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 0 32px;
  box-sizing: border-box;
  gap: 31.8px;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.customer-support-content {
  flex-direction: column;
  gap: 16px;
}
.heading-21 {
  margin: 0;
  width: 249px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.why-join-us {
  position: relative;
  line-height: 27px;
  display: inline-block;
  min-width: 112.2px;
}
.cooperation-models-for,
.earn-attractive-commissions,
.interested-please-provide,
.it-is-our,
.provide-worldwide-high,
.wide-choice-of {
  display: block;
}
.it-is-our-container {
  margin: 0;
  align-self: stretch;
  height: 240px;
  position: relative;
  font-size: 16px;
  line-height: 40px;
  font-family: Poppins;
  color: #8791aa;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.partner-info {
  width: 789.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.5px;
  max-width: 100%;
}
.contact-us-now {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  font-family: Inter;
  color: #001e32;
}
.company-name {
  width: 101.4px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.input,
.input1,
.input2 {
  width: 460px;
  background-color: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.input {
  white-space: nowrap;
}
.input1,
.input2 {
  border: 0;
  outline: 0;
  height: 52px;
  font-family: Poppins;
  font-size: 14px;
  color: #c8d2e6;
}
.input3,
.name-of-contact {
  display: flex;
  white-space: nowrap;
}
.name-of-contact {
  width: 105.3px;
  position: relative;
  line-height: 16px;
  align-items: center;
  flex-shrink: 0;
}
.input3 {
  width: 460px;
  border-radius: 8px;
  background-color: #f7f7f7;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.email {
  position: relative;
  display: inline-block;
  min-width: 38px;
}
.container {
  height: 16px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input4,
.textarea {
  border-radius: 8px;
  background-color: #f7f7f7;
}
.input4 {
  width: 460px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.textarea {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.form-fields {
  align-self: stretch;
  height: 509px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.border {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #c8d2e6;
  box-sizing: border-box;
}
.agreement-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
}
.affiliate-program-operating,
.l-have-read {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.l-have-read {
  width: 209.3px;
  white-space: nowrap;
}
.affiliate-program-operating {
  height: 24px;
  width: 274.7px;
  font-size: 15.9px;
  color: #1b68ff;
}
.agreement-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.8px;
  max-width: calc(100% - 30px);
}
.agreement,
.agreement-border-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.agreement-border-parent {
  justify-content: flex-start;
  gap: 10px;
}
.agreement {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: #001e32;
}
.send {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 36px;
}
.button1,
.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 10px 20px 11px 23px;
  background-color: #c8d2e6;
  width: 320px;
  border-radius: 8px;
  box-sizing: border-box;
}
.button1:hover {
  background-color: #adb8cc;
}
.submit-button {
  align-self: stretch;
  padding: 0 20px;
}
.partner-form {
  display: flex;
  align-items: flex-end;
  gap: 23.5px;
  max-width: 100%;
  font-size: 14px;
  color: #c8d2e6;
  font-family: Poppins;
}
.background3,
.partner,
.partner-form {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.background3 {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 32px 32px 48px;
  box-sizing: border-box;
  gap: 32.5px;
  max-width: 100%;
  font-size: 18px;
}
.partner {
  gap: 16px;
  font-size: 32px;
}
.content,
.customer-support,
.partner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.customer-support {
  width: 920px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 31.9px;
  color: #001e32;
  font-family: Inter;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.link-icon {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: 32px;
  flex-shrink: 0;
  display: none;
}
.link-mogo-logo-5ep1xz9ysvg1 {
  width: 93px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.your-email-address1 {
  width: 119.5px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.form-input1 {
  flex: 1;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 17px;
  box-sizing: border-box;
  min-width: 119px;
  white-space: nowrap;
}
.subscribe1 {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 70px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 15px 20px 16px 27px;
  background-color: #1b68ff;
  border-radius: 8px;
  flex-direction: row;
}
.button2:hover {
  background-color: #428fff;
}
.button2,
.footer-top,
.newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter {
  align-self: stretch;
  flex-direction: row;
  gap: 30px;
}
.footer-top {
  width: 403px;
  flex-direction: column;
  gap: 24px;
  min-width: 403px;
  max-width: 100%;
}
.privacy1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 58px;
}
.vertical-divider4 {
  width: 1px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  right: 3.6px;
  background-color: #8791aa;
}
.link-button3,
.privacy-link1 {
  position: relative;
  display: flex;
}
.privacy-link1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9px 0 0;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.link-button3 {
  width: 31.3px;
  line-height: 21px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  min-width: 31.3px;
}
.terms1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.vertical-divider5 {
  width: 1px;
  height: 18px;
  position: relative;
  background-color: #8791aa;
}
.terms-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.terms-container,
.terms-link1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.terms-container {
  flex: 1;
  justify-content: flex-start;
  gap: 4.6px;
}
.terms-link1 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 3px 0 0;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.blog-link {
  width: 59.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 47px;
}
.link-button4,
.link-button5 {
  position: relative;
  line-height: 21px;
  font-weight: 700;
}
.link-button4 {
  display: inline-block;
  min-width: 62px;
}
.link-button5 {
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 29px;
}
.about-faq-links1 {
  width: 177.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.legal-notice2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 98px;
}
.vertical-divider6 {
  width: 1px;
  height: 18px;
  position: relative;
  background-color: #8791aa;
}
.legal-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 8px 0 0;
}
.askifreegroupcom2 {
  width: 148.1px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.about-faq,
.legal,
.links-container1 {
  display: flex;
  justify-content: flex-start;
}
.legal {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.9px;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.about-faq,
.links-container1 {
  align-items: flex-end;
}
.about-faq {
  flex: 1;
  flex-direction: column;
  gap: 47px;
  min-width: 168px;
}
.links-container1 {
  align-self: stretch;
  flex-direction: row;
  gap: 6.4px;
}
.footer-content1,
.footer-links1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-links1 {
  width: 399px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 0;
  box-sizing: border-box;
  min-width: 399px;
  text-align: center;
  color: #001e32;
  font-family: Inter;
}
.footer-content1 {
  width: 920.2px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.horizontal-divider1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: #e3e5e8;
  max-width: 100%;
}
.divider-container1 {
  width: 920px;
  height: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 7px;
  box-sizing: border-box;
  max-width: 100%;
}
.copyright-20241,
.follow-us1 {
  position: relative;
  line-height: 24px;
}
.copyright-20241 {
  margin: 0;
  height: 24px;
  width: 404.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.follow-us1 {
  display: inline-block;
  min-width: 76px;
}
.link-image2,
.link-image3 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.copyright,
.social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.social {
  width: 220px;
  justify-content: flex-start;
  gap: 40px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  text-align: left;
  font-size: 16px;
}
.copyright {
  width: 920px;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  text-align: center;
  font-size: 15.9px;
  color: #8791aa;
}
.contactus,
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  background-color: #fff;
  align-items: center;
  padding: 40px 20px 87px 21px;
  box-sizing: border-box;
  gap: 36px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #c8d2e6;
  font-family: Poppins;
}
.contactus {
  width: 100%;
  position: relative;
  background: linear-gradient(#f7f7f7, #f7f7f7), #fff;
  overflow-y: auto;
  align-items: flex-start;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .background3 {
    padding-top: 21px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .heading-2 {
    font-size: 26px;
    line-height: 38px;
  }
  .about2-5pbnwojmpng-icon,
  .support-info {
    flex: 1;
  }
  .background2 {
    flex-wrap: wrap;
  }
  .heading-21 {
    font-size: 26px;
    line-height: 38px;
  }
  .footer-links1,
  .footer-top {
    flex: 1;
  }
  .footer-content1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contactus {
    gap: 40px;
  }
}
@media screen and (max-width: 725px) {
  .background2 {
    gap: 16px;
  }
  .agreement-content {
    flex-wrap: wrap;
  }
  .background3 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .footer-links1,
  .footer-top {
    min-width: 100%;
  }
  .copyright {
    flex-wrap: wrap;
  }
  .footer1 {
    gap: 18px;
  }
  .contactus {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .heading-2,
  .heading-21 {
    font-size: 19px;
    line-height: 29px;
  }
  .background3 {
    gap: 16px;
  }
  .newsletter {
    flex-wrap: wrap;
  }
  .about-faq {
    gap: 23px;
  }
  .links-container1 {
    flex-wrap: wrap;
  }
  .footer1 {
    padding-top: 26px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
}
