.link-mogo-logo-5ep1xz9ysvg4 {
  width: 93px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.your-email-address3 {
  width: 119.5px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.form-input3 {
  flex: 1;
  border-radius: 8px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 18px 17px;
  box-sizing: border-box;
  min-width: 119px;
  white-space: nowrap;
}
.subscribe3 {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 70px;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 15px 20px 16px 27px;
  background-color: #1b68ff;
  border-radius: 8px;
  flex-direction: row;
}
.button6:hover {
  background-color: #428fff;
}
.button6,
.link-mogo-logo-5ep1xz9ysvg-group,
.subscription-form2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscription-form2 {
  align-self: stretch;
  flex-direction: row;
  gap: 30px;
}
.link-mogo-logo-5ep1xz9ysvg-group {
  width: 403px;
  flex-direction: column;
  gap: 24px;
  min-width: 403px;
  max-width: 100%;
}
.privacy3 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 58px;
}
.vertical-divider10 {
  width: 1px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 9px);
  right: 3.6px;
  background-color: #8791aa;
}
.privacy-link2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 0 0;
  position: relative;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.link-button11 {
  width: 31.3px;
  position: relative;
  line-height: 21px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 31.3px;
}
.terms3 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.vertical-divider11 {
  width: 1px;
  height: 18px;
  position: relative;
  background-color: #8791aa;
}
.divider-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.terms-link2,
.terms-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.terms-parent {
  flex: 1;
  justify-content: flex-start;
  gap: 4.6px;
}
.terms-link2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 3px 0 0;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.link-column-two {
  width: 59.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 47px;
}
.link-button12,
.link-button13 {
  position: relative;
  line-height: 21px;
  font-weight: 700;
}
.link-button12 {
  display: inline-block;
  min-width: 62px;
}
.link-button13 {
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 29px;
}
.about-faq1 {
  width: 177.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.legal-notice4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 98px;
}
.vertical-divider12 {
  width: 1px;
  height: 18px;
  position: relative;
  background-color: #8791aa;
}
.divider-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 8px 0 0;
}
.askifreegroupcom4 {
  width: 148.1px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.legal1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.9px;
  text-align: left;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.link-column-one,
.link-column-three {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.link-column-three {
  flex: 1;
  flex-direction: column;
  gap: 47px;
  min-width: 168px;
}
.link-column-one {
  align-self: stretch;
  flex-direction: row;
  gap: 6.4px;
}
.footer-left,
.footer-links2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-links2 {
  width: 399px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 0;
  box-sizing: border-box;
  min-width: 399.00000000000006px;
  text-align: center;
  color: #001e32;
  font-family: Inter;
}
.footer-left {
  width: 920.2px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 14px;
  color: #c8d2e6;
  font-family: Poppins;
}
@media screen and (max-width: 1050px) {
  .footer-links2,
  .link-mogo-logo-5ep1xz9ysvg-group {
    flex: 1;
  }
  .footer-left {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .footer-links2,
  .link-mogo-logo-5ep1xz9ysvg-group {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .subscription-form2 {
    flex-wrap: wrap;
  }
  .link-column-three {
    gap: 23px;
  }
  .link-column-one {
    flex-wrap: wrap;
  }
}
