.horizontal-divider4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #e3e5e8;
}
.copyright-20244,
.follow-us4 {
  position: relative;
  line-height: 24px;
}
.copyright-20244 {
  height: 24px;
  width: 404.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.follow-us4 {
  display: inline-block;
  min-width: 76px;
}
.link-image8,
.link-image9 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.copyright-content,
.social2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.social2 {
  width: 220px;
  justify-content: flex-start;
  gap: 40px;
  text-align: left;
  font-size: 16px;
}
.copyright-content {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.copyright1,
.footer4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright1 {
  width: 920px;
  align-items: flex-start;
  gap: 43px;
}
.footer4 {
  align-self: stretch;
  background-color: #fff;
  align-items: center;
  padding: 40px 20px 87px 21px;
  box-sizing: border-box;
  gap: 36px;
  text-align: center;
  font-size: 15.9px;
  color: #8791aa;
  font-family: Poppins;
}
@media screen and (max-width: 750px) {
  .copyright-content {
    flex-wrap: wrap;
  }
  .footer4 {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .copyright1 {
    gap: 21px;
  }
  .footer4 {
    padding-top: 26px;
    padding-bottom: 57px;
    box-sizing: border-box;
  }
}
