.heading-23 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.mogo-always-strives,
.of-travellers-as,
.services-and-products,
.true-value-to,
.ways-to-stay {
  display: block;
}
.mogo-always-strives-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.mission-statement {
  width: 252.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.5px 0 0;
  box-sizing: border-box;
  min-width: 252.79999999999927px;
}
.about1-ew8cdpnfpng-icon {
  height: 310px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 390px;
}
.background55,
.mission-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.background55 {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 0 32px;
  box-sizing: border-box;
  gap: 35.2px;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.mission-content {
  flex-direction: column;
  gap: 16px;
}
.heading-24 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.about2-5pbnwojmpng-icon1 {
  align-self: stretch;
  height: 310px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.story-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 25.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-31 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.mogo-is-a {
  margin-right: -0.1999999999989086px;
  align-self: stretch;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  white-space: nowrap;
}
.who-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.ifree {
  width: 46.4px;
  position: relative;
  line-height: 24px;
  color: #1b68ff;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.who-container {
  width: 225.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group1,
.providing-a-travelution {
  position: relative;
  line-height: 24px;
}
.group1 {
  margin: 0;
  display: inline-block;
  min-width: 58.4px;
}
.providing-a-travelution {
  width: 165.6px;
  font-size: 16px;
  color: #8791aa;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 15.9px;
  color: #1b68ff;
}
.connecting-everyone-and,
.connection-but-a,
.connectivity,
.everything-wherever-they,
.mogo-is-not,
.platform-that-empowers,
.providing-flawless-and,
.short-for-mobile,
.with-global-connectivity {
  display: block;
}
.platform-that-empowers-container {
  margin: 0;
  align-self: stretch;
  height: 216px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.who-content,
.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.who-content {
  align-self: stretch;
  font-size: 16px;
  color: #8791aa;
  font-family: Poppins;
}
.who-we-are {
  width: 253.7px;
  gap: 3.5px;
  min-width: 253.70000000000073px;
}
.background56,
.heading-2-our-story-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.background56 {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 34px 32.5px 0;
  box-sizing: border-box;
  gap: 32px;
  font-size: 24px;
}
.heading-2-our-story-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.heading-32 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.at-present-we,
.born-working-with,
.development-of-the,
.equipment-space-cost,
.etc-traditional-sims,
.foundation-for-our,
.g3g4g-networks-one,
.global-network-and,
.handle-up-to,
.mogo-has-realized,
.more-individuals-have,
.network-resources-providing,
.operators-around-the,
.popularity-due-to,
.so-thats-why,
.standards-and-requirements,
.technology-and-globalization,
.used-with-multiple {
  display: block;
}
.mogo-has-realized-container {
  margin: 0;
  height: 432px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Poppins;
  color: #8791aa;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.e-sim-content,
.e-sim-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.e-sim-description {
  align-self: stretch;
  gap: 3.5px;
}
.e-sim-content {
  width: 290.1px;
  padding: 32px 0 0;
  box-sizing: border-box;
  min-width: 290.10000000000036px;
}
.about3-o1ujopwspng-icon {
  height: 388px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 367px;
}
.background57 {
  align-self: stretch;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 32.5px 32px;
  box-sizing: border-box;
  gap: 33.9px;
  max-width: 100%;
  font-size: 24px;
}
.div36 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 58px;
}
.available-online,
.purchase-for-mogo {
  margin: 0;
}
.purchase-for-mogo-container {
  height: 42px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.purchase-details,
.purchase-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.purchase-details {
  flex: 1;
  flex-direction: column;
  gap: 3.5px;
}
.purchase-items {
  width: 180.4px;
  flex-direction: row;
  padding: 0 1px;
  box-sizing: border-box;
}
.border2 {
  width: 8px;
  height: 8px;
  position: relative;
  border: 4px solid #f0f6ff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.background59 {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 4px;
  background-color: #1b68ff;
  width: 8px;
  height: 8px;
}
.backgroundborder1 {
  width: 18px;
  height: 18px;
  position: absolute;
  margin: 0 !important;
  bottom: -31px;
  left: 6px;
  border-radius: 9px;
  background-color: #fff;
  border: 1px solid #1b68ff;
  box-sizing: border-box;
}
.item1,
.purchase-item,
.purchase-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item1 {
  height: 94px;
  flex: 1;
  background-color: #f0f6ff;
  flex-direction: column;
  padding: 12px 11px 12.5px;
  box-sizing: border-box;
  position: relative;
  gap: 12.5px;
  min-width: 161px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.purchase-item,
.purchase-options {
  flex-direction: row;
  row-gap: 20px;
  max-width: 100%;
}
.purchase-options {
  flex: 1;
  min-width: 320px;
}
.purchase-item {
  align-self: stretch;
  flex-wrap: wrap;
}
.horizontal-divider5 {
  width: 844px;
  height: 1px;
  position: relative;
  background-color: #1b68ff;
  max-width: 100%;
}
.purchase-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 21.5px;
  max-width: 100%;
}
.as-esim-adoptions,
.boarder-positioning-supported,
.internet-access-wherever,
.mogo-esim-is1,
.users-making-connection {
  display: block;
}
.as-esim-adoptions-container1 {
  width: 100%;
}
.as-esim-adoptions-container {
  margin: 0;
  width: 834.4px;
  height: 120px;
  position: relative;
  font-size: 15.9px;
  line-height: 24px;
  color: #8791aa;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.image-icon59 {
  width: 6.5px;
  height: 7px;
  position: absolute;
  margin: 0 !important;
  top: 144.5px;
  right: 31px;
  z-index: 1;
}
.background58 {
  align-self: stretch;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 32px 32.5px;
  box-sizing: border-box;
  position: relative;
  gap: 39px;
  max-width: 100%;
  font-size: 16px;
  font-family: Poppins;
}
.heading-33 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}
.buy-online-hgtlzvorpng-icon {
  height: 55.7px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.feature-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 18px 0 9px;
}
.buy-online {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 82px;
}
.item2 {
  flex: 0.4798;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 55px 0.8px 62px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 150px;
  max-width: 200px;
}
.pay-nfaffm3epng-icon {
  height: 56px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.pay-nfaffm3epng-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 23px 0 22px;
}
.pay-as-you {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 101.6px;
  white-space: nowrap;
}
.item3 {
  flex: 0.5896;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 49px 0.5px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 150px;
  max-width: 200px;
}
.recycle-j-vqrx6npng-icon {
  height: 56.5px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.recycle-j-vqrx6npng-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 59px 0 57px;
}
.reusable-rechargable {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.item4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13px 0 14px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 150px;
  max-width: 200px;
}
.timer-cg2iyiiopng-icon {
  height: 56px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.timer-cg2iyiiopng-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 53px 0 51px;
}
.pre-set-activation-time {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}
.background60,
.item5,
.list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.item5 {
  flex: 0.9249;
  flex-direction: column;
  padding: 0 20px 0.5px;
  box-sizing: border-box;
  gap: 10px;
  min-width: 150px;
  max-width: 200px;
}
.background60,
.list1 {
  align-self: stretch;
}
.list1 {
  flex-direction: row;
  padding: 0 7px;
  gap: 14px;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}
.background60 {
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 32px;
  gap: 40px;
  font-size: 24px;
}
.mogo {
  text-decoration: underline;
  color: #1b68ff;
}
.for-more-information-container1 {
  width: 100%;
}
.for-more-information-container {
  margin: 0;
  width: 240.3px;
  position: relative;
  line-height: 48px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.more-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 21px;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
}
.mission-content-parent {
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23.9px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #001e32;
  font-family: Inter;
}
@media screen and (max-width: 900px) {
  .heading-23 {
    font-size: 26px;
    line-height: 38px;
  }
  .mission-statement {
    flex: 1;
  }
  .background55 {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .heading-24 {
    font-size: 26px;
    line-height: 38px;
  }
  .who-we-are {
    flex: 1;
  }
  .background56 {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .e-sim-content {
    flex: 1;
  }
  .background57 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .background57,
  .list1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 675px) {
  .about1-ew8cdpnfpng-icon,
  .about3-o1ujopwspng-icon,
  .story-image {
    min-width: 100%;
  }
  .purchase-options {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .heading-23 {
    font-size: 19px;
    line-height: 29px;
  }
  .background55 {
    gap: 18px;
  }
  .heading-24,
  .heading-31 {
    font-size: 19px;
    line-height: 29px;
  }
  .background56 {
    gap: 16px;
  }
  .heading-32 {
    font-size: 19px;
    line-height: 29px;
  }
  .background57 {
    gap: 17px;
  }
  .background58 {
    gap: 19px;
  }
  .heading-33 {
    font-size: 19px;
    line-height: 29px;
  }
  .item2,
  .item3,
  .item5 {
    flex: 1;
  }
  .background60 {
    gap: 20px;
  }
}
